@import "../../../styles/variable.scss";

.homePage__banner {
  position: relative;
  background-image: url(../../../asset/img/banner-bg.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.container-banner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}
.homePage__banner--img {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
  z-index: 1;
  display: block;
}
.homePage__banner--img::after {
  content: "";
  position: absolute;
  top: -60px;
  left: -45px;
  width: 100%;
  height: 100%;
  background-image: $bg-banner-img;
  border-radius: 50%;
  z-index: -1;
  overflow: hidden;
  top: 0;
  left: 0;
}
.homePage__banner--img img {
  width: 100%;
  height: auto;
}

.homePage__banner__content {
  max-width: 690px;
}
.homePage__banner__content h1 {
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  color: $color-font-1;
}
.homePage__banner__content p {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 600;
  line-height: 1.8;
  color: $color-font-2;
  span {
    color: $color-font-3;
  }
}
.homePage__banner__content .search-form {
  margin-bottom: 30px;
}
.form-control {
  background-color: $bg-input;
  padding: 10px 20px;
  height: 55px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  display: block;
  border-color: transparent;
  backdrop-filter: blur(60px);
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $color-font-1;
  transition: all 0.5s ease;
}

.default-btn {
  height: 55px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-image: $bg-course-btn;
  padding: 0 8px;
  transition: all 0.5s ease;
}
.default-btn:hover {
  background-image: $bg-title-course-hover;
  color: $color-font-2;
  opacity: 0.8;
}
.client-list li img {
  border-radius: 50px;
  width: 46px;
  height: 46px;
}
.client {
  margin-left: -20px;
}
.client-list li:last-child p {
  margin-bottom: 0;
  margin-left: 12px;
}
.client-list li:last-child p a {
  color: $color-font-3;
}

.shape {
  position: absolute;
  z-index: -1;
}
.shape-1 {
  top: 80px;
  left: 0;
  right: 0;
  margin: auto;
}
.shape-2 {
  bottom: -80px;
  left: 200px;
}
.shape-3 {
  bottom: 100px;
  right: 100px;
}
