@import "../../styles/variable.scss";

.profile__title {
  color: $text-secondary;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2px;
}

.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
}
.form-group input {
  height: 55px;
  color: #0d0c0c;
  border: 1px solid $bg-number;
  background-color: $bg-number;
  font-size: 16px;
  padding: 10px 20px;
  transition: all 0.5s ease;
  border-radius: 5px;
}
.form-group input:hover {
  border: 1px solid $text-secondary;
}
.form-group input:focus {
  color: #000;
  background-color: $color-font-1;
  box-shadow: unset;
  outline: 0;
  border: 1px solid $text-secondary;
}
.profile__btn {
  background-image: $bg-view-btn;
  color: $color-font-1;
  transition: all 0.5 ease;
  border-radius: 5px;
}

.profile__btn:hover {
  background-image: $bg-course-btn-heart;
}

.profile__right {
  border-radius: 5px;
  background-image: url(../../asset/img/banner-bg.jpg);
}
.profile__right::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 12px;
  width: 660px;
  height: 660px;
  background-image: $bg-banner-img;
  border-radius: 50%;
  z-index: 1;
}
