$bg_top--header: #0f6c76;
$bg_button: linear-gradient(133.65deg, #6cc17e 2.24%, #098b99);
$bg_cart-item: #7b7af5;
$bg_footer: #f6fafb;
$bg-banner-img: linear-gradient(
  147.92deg,
  hsla(0, 0%, 100%, 0.4) 11.41%,
  hsla(0, 0%, 100%, 0) 90.25%
);
$bg-spinner: linear-gradient(
  147.92deg,
  hsla(0, 0%, 100%, 0.6) 11.41%,
  hsla(0, 0%, 100%, 0.3) 90.25%
);

$bg-input: hsla(0, 0%, 100%, 0.3);
$bg-btn: linear-gradient(#f0bf79, #f0bf79);
$bg-title-popularCourses: linear-gradient(315deg, #098b99, #057fa8);
$bg-title-course-hover: linear-gradient(134.32deg, #6cc17e -19.8%, #098b99);
$bg-features: #f1efee;
$bg-number: #f2f0ef;
$bg-online-education: linear-gradient(
  134.98deg,
  rgba(155, 212, 167, 0.4) 14.29%,
  rgba(48, 158, 169, 0.1)
);
$bg-course-btn: linear-gradient(#f0bf79, #f0bf79);
$bg-course-btn-heart: linear-gradient(#0f6c76, #0f6c76);
$bg-view-btn: linear-gradient(133.65deg, #6cc17e 2.24%, #098b99);
$bg-infor-btn: #f6ba35;
$bg-infor-btn-2: #41b294;
$bg-category-courses: linear-gradient(315deg, #098b99, #057fa8);

$color-font-1: #fff;

$color-font-2: #edfff4;
$color-font-3: #fec400;
$color-font-4: #f1f1f1;
$color-font-5: #0d0c0c;
$color-font-6: #646464;
$color-font-7: #464646;
$color-font-8: #dcf6f9;
$color-font-9: #0d0c0c;
$color-font-10: #ff0000;
$color-font-11: #252525;

$color-text-1: #e6f8fc;
$color-text-2: #098b99;
// $text-primary :
$text-secondary: #148aa7;
$color-input-search: #f2f0ef;
