@import "../../../styles/variable.scss";

.number__container {
  background-color: $bg-number;
}
.number__title {
  font-size: 24px;
  color: $text-secondary;
  letter-spacing: 1px;
  font-weight: 700;
}
