@import "../../styles/variable.scss";

.checkout__pages-heading {
  background-image: url(../../asset/img/banner-bg.jpg);
  color: $color-font-1;
}

.checkout__pages-img1 {
  position: absolute;
  left: 200px;
  top: 150px;
}

.checkout__pages-img2 {
  position: absolute;
  right: 100px;
  top: 100px;
}

.check__register--item .check__register--text h2 {
  color: $text-secondary;
  font-weight: 600;
}

.check__register--item .check__register--text h3 {
  color: $color-font-6;
}

.check__register--text-price {
  color: $text-secondary;
}

.check__register--text-btn {
  color: $text-secondary;
}
.check__register--right-btn {
  background-image: $bg-view-btn;
  border-radius: 12px;
  color: $color-font-1;
}

.check__register--right-btn:hover {
  opacity: 0.8;
  background-image: $bg-category-courses;
}
